/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 75em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
  font-family: 'Cinzel Decorative', cursive;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* form */ 

form {
  color: white;
}

.formContact {
  color: black;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: grey;
}

.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: 100px;
  color: black;
  max-width: 65em;
}

/* Fin du form */

#slider {
  position: relative;
  margin-top: 70px;
}

.presentation {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 10px;
}

.map {
  height: 700px;
  width: 100%;
  margin-bottom: 100px;
}

.connexion {
  width: 1000px;
}

.inscription {
  width: 1000px;
}

.titrePres {
  margin-top: 50px;
}

.row {
  margin-bottom: 50px;
}

.portfolio-container {
  margin-left: 50px;
}

.imgPortfolio {
  padding: 7px;
}

.portfolio {
  margin-bottom: 100px;
}

.formEdit {
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.buttonDash {
  margin-top: 10px;
  background-color: #333;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 100px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button1 {
  margin-top: 20px;
}

.container-image {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 100px;
  margin-left: 100px;
}

.container-image2 {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 100px;
  margin-left: 10px;
}

.imagesDash {
  padding: 40px;
}

.boutonImage {
  position: relative;
  color: white;
  top: 170px;
  right: 360px;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boutonDelete {
  position: relative;
  color: white;
  top: 27px;
  left: 120px;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boutonDelete2 {
  position: relative;
  color: white;
  top: 16px;
  left: 120px;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Slider */

.container3 {
  max-width: 1000px;
  height: auto;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(0,0,0,0.4);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 2px;
  background-color: rgb(40, 40, 40);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: lightgrey;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Fin slider */

.imgEditSlider {
  width: 400px;
  height: 300px;
  margin: 10px;
  margin-bottom: 20px;
}

.boutonSlider {
  position: relative;
  color: white;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formEditImg {
  width: 55em;
}

.imgSlider {
  width: 400px;
  height: 300px;
  padding: 7px;
}

.boutonImageSlider {
  position: relative;
  color: white;
  top: 180px;
  right: 395px;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boutonAdd {
  position: relative;
  color: white;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boutonAdd2 {
  position: relative;
  color: white;
  background-color: #333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sectionPortfolio {
  margin-left: 60px;
}

.formAddImg {
  color: black;
}

#message {
  height: 250px;
}

.presentation-home {
  margin-top: 100px;
  margin-bottom: 100px;
}


@media screen and (max-width: 1024px) {

  body {
    font-size: 30px;
  }
  .imgDashPortfolio {
    width: 200%;
  }

  .imagesDash {
  	padding: 0;
  }

  .imgPortfolio {
    width: 100%;
  }

  .sectionPortfolio {
    margin-left: 0px;
    margin-top: 300px;
  }
  
  .imgSlider {
    width: 100%;
    height: auto;
  }

  .masthead {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .masthead-brand {
    width: 100%;
    font-size: 80px;
  }

  .nav-masthead {
    width: 100%;
    font-size: 40px;
  }

  #slider {
  	margin-top: 300px;
  }

  .container2 {
  	margin-top: 300px;
  }

  .container-image {
  	margin-top: 200px;
  	margin-left: 0px;
  }

  .presentation {
  	margin-top: 300px;
  }

  .presentation-home {
  	margin-top: 100px;
  	margin-bottom: 100px;
  }

  .container-portfolio {
  	margin-top: 300px;
  }

  .boutonDelete {
  	top: -25px;
  	left: 0px;
  }

  .boutonDelete2 {
  	top: -25px;
  	left: 0px;
  }

  .boutonAdd {
  	top: 120px;
  }

  .boutonAdd2 {
  	margin-bottom: 100px;
  }

  .container-slider {
  	margin-top: 300px;
  }
  
}
